table {
width:100%;
border-collapse: collapse;

  }
  table th{
      font-size: calc(1rem+0.5vh);
      background-color:#080708;
      /* background-color: #1E3888; */
      color: #fff;
      text-align: center;
      padding: 20px;
 

    }
table td {
  text-align:center;
  padding: 15px;
  /* height: 100px;
  border:2px solid #000; */

}
table tr:hover{
  background-color:#F7F7F9;
  background-color: #1E3888;
  /* background-color: #E60B63; */
  color: #fff;
}

tr:nth-child(even)
 {background-color:#FFF3F0;
  background-color: #fde8e9;
}

.container_tabel  input
{
 border: #fff;
 width:5vh;
}


