.center-top{
    background: linear-gradient(rgba(17, 5, 5, 0.8), rgba(1, 1, 23, 0.8)),
  url("https://res.cloudinary.com/dzmmijyxh/image/upload/v1664995166/my%20image/plumber_mhfn9e.jpg"); 
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 600px;  
}
.part1{
    width:50%;
    margin: 0 auto;
    height: 300px;
    color: #fff;
    padding:100px;
    text-align: center;

}
.part1 h1{
  font-size: 33px;  
}
.center-center{
border: 4px solid #000;
height: 400px;
text-transform: capitalize;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 12px;
justify-content: center;
align-items: center;

}
.item{
    background-color: #bdbdbb;
    height: 80px;
    justify-content: center;
    
}
.employee img{
  width:20vw;
  border-radius: 55%;
  height: 300px;
}
.employee-list{
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
span {
  color:#000;
}