.center-top{
    background: linear-gradient(rgba(17, 5, 5, 0.8), rgba(1, 1, 23, 0.8)),
  url("https://res.cloudinary.com/dzmmijyxh/image/upload/v1664995166/my%20image/plumber_mhfn9e.jpg"); 
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
height:105vh;  
}
.part1{
    width:55%;
    margin: 0 auto;
    color: #fff;
    padding-top:150px;
    padding-bottom: 150px;
    text-align: center;

}
.part1 h1,.part1 h3  {
  font-weight: 500;
  font-family: 'Satisfy', cursive;
font-size: calc(1.75rem +1.4vw);
text-align: center;
}
.center-center{
height: 30vh;
text-transform: capitalize;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 12px;
justify-content: center;
align-items: center;

}
.item{
    /* background-color: #bdbdbb;
    height: 80px;
    justify-content: center; */
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: calc(.8rem + 0.35vw);
    text-align: justify;
    text-transform: capitalize;
    
}
/* .employee img{
  width:20vw;
  border-radius: 55%;
  height: 300px;
}
.employee-list{
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
span {
  color:#000;
} */
.search_part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:3vh;
  margin-bottom: 3vh;
}

.search{
  border: 3px solid #ccc;
}
.search input {
  padding: 2vh;
  width: 19vw;
  border-radius: 2%;
  border-right: 0;
  font-size: calc(0.5rem + 0.8vw);
  border: 0;
}
.search button{
  padding: 1.5vh;
  border-radius: 2%;
  color: #000;
color: #E60B63;;
  background-color: #fff;
  border: 0;

}
.employee{
  justify-content: center;
  width:30vw;
  align-items: center;
}
.img_manger img{
  width: 20vw;
  display: block;
  height: 50vh;
  margin-top: 10vh;
  border-radius: 5%;
}
.login_form h5{
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  font-size: calc(1rem + 0.35vw);
  text-align: justify;
}
.show{
  align-self: flex-end;
}

