.header {
  height: 40px;
  background-color: #001f66;
  background-color: #E60B63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.bi {
  color: #fff;
  margin-left: 10px;
  align-self: center;
}
span {
  font-size: 21px;
  color: #fff;
  margin-left: 5px;
}

.header2 {
  display: grid;
 grid-template-columns: 2fr 7fr;
  align-items: center;
  justify-content: center;
  height: 90px;
  padding-bottom: 10px;
  /* color: #E60B63; */
}
.header2 img{
height: 90px;

}

.linkhome {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1.5fr 2fr;
height: 100px;
justify-content: center;
align-items: center;
}
.linkhome div a {
  color: #001f66;
font-size:30px;
font-family: fantasy;
font-weight: 500px;
text-decoration: underline;
align-self: center;
text-transform: capitalize;
text-decoration: none;
}
.linkhome div :hover{
background-color: #001f66;
color: #fff;
padding: 12px;
align-items: center;
}
.login {
  /* background-color: #001f66;
color: #fff;
padding: 12px; */

}
.dash{
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 100px
}
.logout{
  color: #001f66;
  font-size:30px;
  font-family: fantasy;
  font-weight: 500px;
  text-decoration: underline;
  align-self: center;
  text-transform: capitalize;
  text-decoration: none;
}