.list{
    padding: 2vh;
    margin-bottom: 3vh;
    width: 40vw;
    border-radius: 2%;
    border: 3px solid #ccc;
    font-size: calc(0.35rem + 0.5vw);
    height:100vh;

}


.employee img{
    width:14vw;
    height: 30vh;
}
    .list_department
    {
        padding: 2vh;
        margin-bottom: 3vh;
        margin-left: 1vw;
        width:14vw;
        border-radius: 2%;
        font-size: calc(0.5rem + 0.5vw); 
        border: 3px solid #000;
    }
 

.employee-list{
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 1vw;
justify-content: center;
align-items: center;
}
.choose{
    border: #001f66;
    background-color: #001f66;
    color:#fff;
    width: 5vw;
    padding-top:1vh;
}

