@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Satisfy&display=swap');
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
}


.container_row_nav{
  display:flex;
  align-items: center;
  justify-content: center;
  justify-items:space-between;
}


svg{
  /* color: #E60B63; */
  font-size: 1.5rem;
}

.footer
 {
  /* height: 6vh;
  background-color:#080708;
   padding-top: 10px;
  margin-top:40vh; */ 

}
.footer h6{
  text-align: center;
  color: #ccc;

}