body{
  margin: 0px;
  padding: 0px;
}
.header2{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items:space-between;
}
/* input{
  width: 23vw;
  height: 8vh;
  color: #f6f0ed;
} */
svg{
  color: #E60B63;
  font-size: 1.5rem;
}
